@model MediviseMVC.Models.Message

@{
    ViewBag.Title = "DeleteMsg";
}

<h2>DeleteMsg</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Message</legend>

    <div class="common-box">
        <div class="common-label">MessageText:</div>
    </div>

    <div class="common-box">
        <div class="common-field">
            @Html.DisplayFor(model => model.MessageText)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">StartDate:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.StartDate)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">EndDate:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.EndDate)
        </div>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Edit", new { id = Model.PatientId })
    </p>
}
