@model MediviseMVC.Models.Test

@{
    ViewBag.Title = "DeleteTest";
}

<h2>DeleteTest</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Test</legend>

    <div class="common-box">
        <div class="common-label">Test Name:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TestInfo.Name)
        </div>
    </div>

    <div class="common-box">
        <div class="common-label">TestDate:</div>
        <div class="common-field">
            @Html.DisplayFor(model => model.TestDate)
        </div>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Edit", new {id=Model.PatientId })
    </p>
}
