@model MediviseMVC.Models.Alert

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Alert</legend>

    <div class="display-label">AlertDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlertDate)
    </div>

    <div class="display-label">AlertTypeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlertTypeId)
    </div>

    <div class="display-label">PatientId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PatientId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
