@model IEnumerable<MediviseMVC.Models.Alert>
@{
    ViewBag.Title = "Alerts";
}

<link type="text/css" rel="stylesheet" href="@Url.Content("~/Plugins/jtable/themes/standard/blue/jtable_blue.css")" />
<script type="text/javascript" src="@Url.Content("~/Plugins/jtable/jquery.jtable.min.js")"></script>
<div id="AlertList"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#AlertList').jtable({
            title: 'Alerts',
            sorting: true,
            defaultSorting: 'AlertDate ASC',
            selecting: true,
            paging: true,
            pageSize: 20,
            actions: {
                listAction: '/Alert/AlertList',
                deleteAction: '/Alert/DeleteAlert'
            },
            fields: {
                AlertId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                PatientId: {
                    list: false
                },
                FullName: {
                    title: 'Patient',
                    sorting:true,
                    display: function (data) {
                        return '<a href="/PatientManager/Details/' + data.record.PatientId + '">' + data.record.FullName + '</a>';
                    }
                },
                AlertDate: {
                    title: 'Date',
                    type: 'date'
                },
                AlertType: {
                    title: 'Type',
                    sorting:false
                }
            }
        });
        $('#AlertList').jtable('load');
    });
</script>