@if (Request.IsAuthenticated)
{
    <div id="login">
        <text>Logged in as @User.Identity.Name | @Html.ActionLink("Logoff", "LogOff", "Account")</text>
    </div>
}
else
{
    @Html.ActionLink("Register", "Register", "Account")
}
