<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Patient", "Index", "PatientManager")
    </div>
    <div>
        @Html.ActionLink("Alerts", "Index", "Alert")
    </div>
    <p></p>
    Do not include this here:
    <div>
        @Html.ActionLink("Timeline", "Index", "Timeline")
    </div>
    <div>
        @Html.ActionLink("Message Portal", "Index", "Message")
    </div>
</body>
</html>
