<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Patient", "Index", "PatientManager")
    </div>
    <div>
        @Html.ActionLink("Alerts", "Index", "Alert")
    </div>
    <div>
        @Html.ActionLink("Message Portal", "Index", "Message")
    </div>
    <div>
        @Html.ActionLink("Logoff", "LogOff", "Account")
    </div>
</body>
</html>
