<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Register Patient", "Create", "PatientManager")
    </div>
    <div>
        @Html.ActionLink("Existing Patients", "Index", "PatientManager")
    </div>
    <div>
        @Html.ActionLink("Da Alerts", "Index", "Alert")
    </div>
    <div>
        @Html.ActionLink("Timeline", "Index", "Timeline")
    </div>
</body>
</html>
