<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Patient", "Index", "PatientManager")
    </div>
    <div>
        @Html.ActionLink("Da Alerts", "Index", "Alert")
    </div>
</body>
</html>
