/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body 
{
    background-color: #404040;
    font-size: .85em;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #4A6EB8;
    text-decoration: none;
}

a:visited {
    color: #4A6EB8;
}

a:hover {
    color: #3366FF;
    text-decoration: none;
}

a:active {
    color: #3366FF;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.3em;
    color: #000;
}

h1 {
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 0px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 15px 30px 15px 30px;
    background-color: #fff;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    background-color: White;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 0.8em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    font-weight: normal;
    text-decoration: underline;
    color: #4A6EB8;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

table tr 
{
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#logo {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 60px 20px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label 
{
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field 
{
    margin: 0.5em 0 0 0;
}

.common-box
{
}

.common-label
{
    display: inline-block;
    margin: 1em 0 0 0;
    background-color: #E2F1FF;
}

.common-field
{
    display: inline-block;
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


/*---------------MY OWN CODE HERE-------------------*/

.alert-type1
{
    background-color: #FFADAD;
}

.alert-type2
{
    background-color: #94FFB8;
}

.alert-type3
{
    background-color: #
}


#AlertInfo
{
    width: 460px;
    height: 313px;
    overflow-y: scroll;
}

#boxes
{
    display: block;
    position: relative;
    margin-bottom: 20px;
}

#patientBox
{
    width: 48%;
    height: 350px;
    float:left;
    margin-right: 4%;
}

#alertBox
{
    width: 48%;
}

.myHandle
{
    position: absolute;
    height: 20px;
    width: 10px;
    background-color: #7A297A;
    margin: -2px;
    z-index: 2;
    
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mySliderContainer
{
    height: 20px;
    margin: 0 6px;
}

.mySlider
{
    height: 16px;
    margin: 6px 1px 0;
    background-color: rgb(166, 166, 166);
    z-index: 1;
}

.test-pop
{
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  z-index: 3;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.test-slider
{
    margin: 0 6px 0 6px;
}

.drug-timeline
{
    display: block;
    height: auto;
    position: relative;
    margin: 0 0 1.5em;
    
    border-style: inset;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#progressbar
{
    z-index: 1;
    opacity: .50;
    filter: alpha(opacity=50);
    margin-left: 3px;
    margin-right: 3px;
    height: auto;
    
}

.sliders-group
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.slider-text
{
    margin-left: 10px;
}

.slider-box
{
    margin: 5px 0 20px;
}

#bodytag, body 
{
    color: #564b47;
    font-size: 13px;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    padding: 0;
    margin: 0 0 10px;
}

/* container to center the layout */
#container 
{
    width: 1100px;
    border: 2px solid #1F2E4D;
    margin: 0 auto;
    border-radius: 0px 15px 0px 15px; /* W3C Standard, Opera */
    -moz-border-radius: 0px 15px 0px 15px; /* Firefox */
    -webkit-border-radius: 0px 15px 0px 15px; /* Safari, Chrome */
}

/* head container for logo and metanavi */
#banner
{
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0 10px;
}

#metanavi 
{
    float: right;
    padding: 5px 15px 0 0;
    margin: 0;
}

/* main-navi */
#topnavi
{
    background-color: #4C4C4C;
    margin: 0;
    padding: 5px 0;
    border-bottom: 7px solid #6881B2;
    border-radius: 0px 15px 0px 0px; /* W3C Standard, Opera */
    -moz-border-radius: 0px 15px 0px 0px; /* Firefox */
    -webkit-border-radius: 0px 15px 0px 0px; /* Safari, Chrome */
}
#topnavi a
{ 
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    color: #ffffff;
    text-decoration: none; 
    margin-top: 3px;
    padding: 3px 25px 7px;
}

#topnavi a:visited {color:#ffffff;}
#topnavi a:hover {color: #ffffff; background-color: #6881B2;}
#mainnavi a:active { color:#ffffff; background-color: #6881B2;}
#container #topnavi a.selected
{
    background-color: #6881B2;
    color: #ffffff;
}

/* content elements
-------------------------------------- */
#content
{
    background-color: #ffffff;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    min-height: 540px;
    padding: 30px 0;
    margin-left: 0;
    margin-right: 400px;
}

/* footer */
#footer
{
    clear: both;
    padding: 5px 25px;
    color: #ffffff;
    font-size: 10px;
    margin: 0px;
    background-color: #4C4C4C;
    border-radius: 0px 0px 0px 15px; /* W3C Standard, Opera */
    -moz-border-radius: 0px 0px 0px 15px; /* Firefox */
    -webkit-border-radius: 0px 0px 0px 15px; /* Safari, Chrome */
}

#footer a
{ 
    color: #F6CFFD;
    font-weight: bold;
}
#footer a:visited {color:#F6CFFD;}
#footer a:hover {color: #ffffff;}
#footer a:active { color:#F6CFFD; text-decoration: line-through;}
