@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RegisterSuccess</title>
</head>
<body>
    <h2>User Registered</h2>
    <div>
       @Html.ActionLink("Register Hospitals", "Register", "Account")
    </div>
</body>
</html>
