@model IEnumerable<TBTracker.Models.Patient>

@{
    ViewBag.Title = "Timeline";
}

<h2>List of Patients</h2>
<p>Select from @Model.Count() Patients:</p>

<ul>
    @foreach (var patient in Model)
    {
        <li>@Html.ActionLink(patient.FirstName + " " + patient.LastName, "Form",
            new { patient = patient.FirstName })</li>
    }
</ul>
